<!DOCTYPE html>
<html>
  <head>
    <title><%= title  %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    
  </head>
  <body>
    <% include templates/navbar.ejs %>
    <br>
    <br>
   
    <br>
    <br>
    <% include templates/form.ejs %>
    <br>
    <br>
    <div class="container">
      <% include templates/data.ejs %>
    </div>
  
    <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="/javascripts/main.js"><script>
  </body>
</html>